<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Pagina principal</title>
	<script type="text/javascript">
		const namePrompt = prompt('¿Nombre de que quiere saludo?');
		const agePrompt = prompt('¿Cuantos años tienes?');
		function saludar(name, age){
			alert(`Hola ${name}, en tu proximo cumpleaños tendras ${parseInt(age) + 1} años`)
		};
		saludar(namePrompt, agePrompt);
	</script>
</head>
<body>
	<h1>Hola XD</h1>
</body>
</html>